@use "node_modules/@heymarco/scss-utils/index" as *;



// general:



// secondary:



// heading:



// display



// lead:


// blockquote:



// hr:
$blockquote-color:              currentColor !default;
$blockquote-opacity:            0.1 !default;
$blockquote-width:              1px !default;


// description list
$desc-terms-font-size:          unset !default;
$desc-terms-font-family:        unset !default;
$desc-terms-font-weight:        700   !default;
$desc-terms-lineheight:        unset !default;
$desc-terms-color:              unset !default;

$desc-desc-font-size:           unset !default;
$desc-desc-font-family:         unset !default;
$desc-desc-font-weight:         unset !default;
$desc-desc-lineheight:         unset !default;
$desc-desc-color:               unset !default;


// marking general: <del> <s>, <ins>, <u>, <small> .small, <strong> <b>, <em> <i>
// no options


// marking: <mark> .mark, 
$mark-font-size:                unset !default;
$mark-font-family:              unset !default;
$mark-font-weight:              unset !default;
$mark-lineheight:              unset !default;
$mark-color:                    unset !default;
$mark-bg:                       #fcf8e3 !default;
$mark-padding:                  .2em !default;


// marking: <kbd>
$kbd-font-size:                 unset !default;
$kbd-font-family:               unset !default;
$kbd-font-weight:               700   !default;
$kbd-lineheight:               unset !default;
$kbd-color:                     var(--white) !default;
$kbd-bg:                        var(--black) !default;
$kbd-padding:                   .2em !default;


// marking: inline <code>, block <pre> <code>
$code-font-size:                unset !default;
$code-font-family:              var(--font-family-monospace) !default;
$code-font-weight:              unset !default;
$code-lineheight:              unset !default;
$code-color:                    unset !default;
$code-bg:                       unset !default;
$code-padding:                  .2em !default;


// marking: <var>
$code-font-size:                unset !default;
$code-font-family:              unset !default;
$code-font-weight:              unset !default;
$code-lineheight:              unset !default;
$code-color:                    unset !default;
$code-bg:                       unset !default;
$kbd-padding:                   .2em !default;


// marking: <samp>
$code-font-size:                unset !default;
$code-font-family:              var(--font-family-monospace) !default;
$code-font-weight:              unset !default;
$code-lineheight:              unset !default;
$code-color:                    unset !default;
$code-bg:                       unset !default;
$kbd-padding:                   unset !default;