// Secondary typography
// A standout paragraph



@use "dependencies" as *;



$class                          : "dl"      !default;
$var-root                       : ":root"   !default;
$var-prefix                     : "dl"      !default;
$cssvar: "";
@if (($var-prefix == null) or ($var-prefix == "")) {
    $cssvar: "--";
} @else {
    $cssvar: "--#{$var-prefix}-";
}

$term-font-size                 : unset !default;
$term-font-family               : unset !default;
$term-font-weight               : 700 !default;
$term-lineheight                : unset !default;
$term-color                     : unset !default;

$desc-font-size                 : unset !default;
$desc-font-family               : unset !default;
$desc-font-weight               : unset !default;
$desc-lineheight                : unset !default;
$desc-color                     : unset !default;
$desc-margin-bottom             : 0.5rem !default;

$margin-bottom                  : 1rem !default;



@if ($var-root) { #{$var-root} {
    #{$cssvar}term-font-size        : #{$term-font-size};
    #{$cssvar}term-font-family      : #{$term-font-family};
    #{$cssvar}term-font-weight      : #{$term-font-weight};
    #{$cssvar}term-lineheight       : #{$term-lineheight};
    #{$cssvar}term-color            : #{$term-color};

    #{$cssvar}desc-font-size        : #{$desc-font-size};
    #{$cssvar}desc-font-family      : #{$desc-font-family};
    #{$cssvar}desc-font-weight      : #{$desc-font-weight};
    #{$cssvar}desc-lineheight       : #{$desc-lineheight};
    #{$cssvar}desc-color            : #{$desc-color};
    #{$cssvar}desc-margin-bottom    : #{$desc-margin-bottom};

    #{$cssvar}margin-bottom        : #{$margin-bottom};
}}



@mixin style {
    margin-bottom       : var(#{$cssvar}margin-bottom);


    > dt {
        font-size       : var(#{$cssvar}term-font-size);
        font-family     : var(#{$cssvar}term-font-family);
        font-weight     : var(#{$cssvar}term-font-weight);
        line-height     : var(#{$cssvar}term-lineheight);
        color           : var(#{$cssvar}term-color); // currentColor
    }

    > dd {
        font-size       : var(#{$cssvar}desc-font-size);
        font-family     : var(#{$cssvar}desc-font-family);
        font-weight     : var(#{$cssvar}desc-font-weight);
        line-height     : var(#{$cssvar}desc-lineheight);
        color           : var(#{$cssvar}desc-color); // currentColor
        margin-bottom   : var(#{$cssvar}desc-margin-bottom);
    }
}
@if ($class) {
    #{$class} { @include style; }
}