// General typography.
// A global font setting on a web page (font style, font color, background color, etc).



@use "dependencies" as *;
@use "base"         as base;



@use    "sass:map"     as map;



$alias              : "%typo-general"                       !default;
$class              : base.$class                           !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : ""                                    !default;
$var-prefix-base    : base.$var-prefix                      !default;
$cssvar: make-cssvar($var-prefix, $var-prefix-base);

$font-size                      :      var(#{$cssvar}font-size-default)     !default;
$font-size-default              :      var(#{$cssvar}font-size-nm)          !default;
$font-size-xs                   : calc(var(#{$cssvar}font-size-nm) * 0.50)  !default;
$font-size-sm                   : calc(var(#{$cssvar}font-size-nm) * 0.75)  !default;
$font-size-nm                   : 1.00rem                                   !default;
$font-size-md                   : calc(var(#{$cssvar}font-size-nm) * 1.25)  !default;
$font-size-lg                   : calc(var(#{$cssvar}font-size-nm) * 1.50)  !default;
$font-size-xl                   : calc(var(#{$cssvar}font-size-nm) * 1.75)  !default;
$font-size-xxl                  : calc(var(#{$cssvar}font-size-nm) * 2.00)  !default;
$font-size-xxxl                 : calc(var(#{$cssvar}font-size-nm) * 2.25)  !default;
$font-sizes                     : ()                                        !default;
$font-sizes: map.merge((
    default : $font-size-default,
    xs      : $font-size-xs,
    sm      : $font-size-sm,
    nm      : $font-size-nm,
    md      : $font-size-md,
    lg      : $font-size-lg,
    xl      : $font-size-xl,
    xxl     : $font-size-xxl,
    xxxl    : $font-size-xxxl,
), $font-sizes);

$font-family                    : var(#{$cssvar}font-family-default)    !default;
$font-family-default            : var(#{$cssvar}font-family-sans-serif) !default;
$font-family-sans-serif         : system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace          : SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-families                  : ()                                    !default;
$font-families: map.merge((
    default     : $font-family-default,
    sans-serif  : $font-family-sans-serif,
    monospace   : $font-family-monospace,
), $font-families);

$font-weight                    : var(#{$cssvar}font-weight-default)    !default;
$font-weight-default            : var(#{$cssvar}font-weight-normal)     !default;
$font-weight-lighter            : lighter                               !default;
$font-weight-light              : 300                                   !default;
$font-weight-normal             : 400                                   !default;
$font-weight-bold               : 700                                   !default;
$font-weight-bolder             : bolder                                !default;
$font-weights                   : ()                                    !default;
$font-weights: map.merge((
    default : $font-weight-default,
    lighter : $font-weight-lighter,
    light   : $font-weight-light,
    normal  : $font-weight-normal,
    bold    : $font-weight-bold,
    bolder  : $font-weight-bolder,
), $font-weights);

$font-style                     : unset                                 !default;
$text-decoration                : unset                                 !default;

$lineheight                     : var(#{$cssvar}lineheight-default)     !default;
$lineheight-default             : var(#{$cssvar}lineheight-nm)          !default;
$lineheight-sm                  : 1.25                                  !default;
$lineheight-nm                  : 1.50                                  !default;
$lineheight-lg                  : 2.00                                  !default;
$lineheights                    : ()                                    !default;
$lineheights: map.merge((
    default : $lineheight-default,
    sm      : $lineheight-sm,
    nm      : $lineheight-nm,
    lg      : $lineheight-lg,
), $lineheights);

$color                          : var(#{$color-cssvar}dark)             !default;
$backg                          : var(#{$color-cssvar}white)            !default;



@include declare-cssvar($var-root) {
    @if (map.has-key($font-sizes, default)) {
        #{$cssvar}font-size             : var(#{$cssvar}font-size-default);
    }
    @each $name, $value in $font-sizes {
        #{$cssvar}font-size-#{$name}    : #{$value};
    }

    
    @if (map.has-key($font-families, default)) {
        #{$cssvar}font-family           : var(#{$cssvar}font-family-default);
    }
    @each $name, $value in $font-families {
        #{$cssvar}font-family-#{$name}  : #{$value};
    }
    
    
    @if (map.has-key($font-weights, default)) {
        #{$cssvar}font-weight           : var(#{$cssvar}font-weight-default);
    }
    @each $name, $value in $font-weights {
        #{$cssvar}font-weight-#{$name}  : #{$value};
    }


    #{$cssvar}font-style        : $font-style;
    #{$cssvar}text-decoration   : $text-decoration;
    

    @if (map.has-key($lineheights, default)) {
        #{$cssvar}lineheight           : var(#{$cssvar}lineheight-default);
    }
    @each $name, $value in $lineheights {
        #{$cssvar}lineheight-#{$name}  : #{$value};
    }


    #{$cssvar}color                     : #{$color};
    #{$cssvar}backg                     : #{$backg};
}



/* begin: general style */
@mixin _style($include) {
    @if ($include) { @include  base.style; }
    @else          { @extend #{base.$alias} !optional; }

    
    font-size       : var(#{$cssvar}font-size-default);
    font-family     : var(#{$cssvar}font-family-default);
    font-weight     : var(#{$cssvar}font-weight-default);
    font-style      : var(#{$cssvar}font-style);
    text-decoration : var(#{$cssvar}text-decoration);
    line-height     : var(#{$cssvar}lineheight-default);

    color           : var(#{$cssvar}color);
    background      : var(#{$cssvar}backg);
}
@mixin style {
    @include _style(true);
}
@include alias($alias) {
    @include _style(false);
}
/* end: general style */



@include class($alias, $class, "");