// General typography.
// A global font setting on a web page (font style, font color, background color, etc).



@use "dependencies" as *;



$class                          : ":root"   !default;
$var-root                       : ":root"   !default;
$var-prefix                     : ""        !default;
$cssvar: "";
@if (($var-prefix == null) or ($var-prefix == "")) {
    $cssvar: "--";
} @else {
    $cssvar: "--#{$var-prefix}-";
}

$font-size                      : var(--font-size-normal)      !default;
$font-size-small                : rems(/*0.75 rems*/ 12/*px*/) !default;
$font-size-normal               : rems(/*1.00 rems*/ 16/*px*/) !default;
$font-size-medium               : rems(/*1.25 rems*/ 20/*px*/) !default;
$font-size-large                : rems(/*1.50 rems*/ 24/*px*/) !default;
$font-size-x-large              : rems(/*1.75 rems*/ 28/*px*/) !default;
$font-size-xx-large             : rems(/*2.00 rems*/ 32/*px*/) !default;
$font-size-xxx-large            : rems(/*2.25 rems*/ 36/*px*/) !default;

$font-family                    : var(--font-family-sans-serif) !default;
$font-family-sans-serif         : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace          : SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-weight                    : var(--font-weight-normal) !default;
$font-weight-lighter            : lighter !default;
$font-weight-light              : 300     !default;
$font-weight-normal             : 400     !default;
$font-weight-bold               : 700     !default;
$font-weight-bolder             : bolder  !default;

$lineheight                     : 1.5 !default;

$color                          : var(--dark) !default; // font color, monochrome icon color, currentColor
$background                     : var(--white) !default; // background color



@mixin css-vars {
    #{$cssvar}font-size                : #{$font-size};
    #{$cssvar}font-size-small          : #{$font-size-small};
    #{$cssvar}font-size-normal         : #{$font-size-normal};
    #{$cssvar}font-size-medium         : #{$font-size-medium};
    #{$cssvar}font-size-large          : #{$font-size-large};
    #{$cssvar}font-size-x-large        : #{$font-size-x-large};
    #{$cssvar}font-size-xx-large       : #{$font-size-xx-large};
    #{$cssvar}font-size-xxx-large      : #{$font-size-xxx-large};
    
    #{$cssvar}font-family              : #{$font-family};
    #{$cssvar}font-family-sans-serif   : #{$font-family-sans-serif};
    #{$cssvar}font-family-monospace    : #{$font-family-monospace};
    
    #{$cssvar}font-weight              : #{$font-weight};
    #{$cssvar}font-weight-lighter      : #{$font-weight-lighter};
    #{$cssvar}font-weight-light        : #{$font-weight-light};
    #{$cssvar}font-weight-normal       : #{$font-weight-normal};
    #{$cssvar}font-weight-bold         : #{$font-weight-bold};
    #{$cssvar}font-weight-bolder       : #{$font-weight-bolder};
    
    #{$cssvar}lineheight               : #{$lineheight};

    #{$cssvar}color                    : #{$color};
    #{$cssvar}background               : #{$background};
}
@if ($var-root) {
    #{$var-root} { @include css-vars; }
}



@mixin general {
    font-size   : var(#{$cssvar}font-size);
    font-family : var(#{$cssvar}font-family);
    font-weight : var(#{$cssvar}font-weight);
    line-height : var(#{$cssvar}lineheight);

    color       : var(#{$cssvar}color); // currentColor
    background  : var(#{$cssvar}background); // backgroundColor
}
@if ($class) {
    #{$class} { @include general; }
}