// Heading typography
// A title text



@use "dependencies" as *;
@use "base"         as base;
@use "general"      as gen;


@use "sass:map"     as map;



$alias              : "%typo-heading"                       !default;
$class              : "h, .h"                               !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "h"                                   !default;
$var-prefix-base    : base.$var-prefix                      !default;
$cssvar: make-cssvar($var-prefix, $var-prefix-base);

$font-size-6        : calc(1.00 * var(#{gen.$cssvar}font-size-default)) !default;
$font-size-5        : calc(1.25 * var(#{gen.$cssvar}font-size-default)) !default;
$font-size-4        : calc(1.50 * var(#{gen.$cssvar}font-size-default)) !default;
$font-size-3        : calc(1.75 * var(#{gen.$cssvar}font-size-default)) !default;
$font-size-2        : calc(2.00 * var(#{gen.$cssvar}font-size-default)) !default;
$font-size-1        : calc(2.25 * var(#{gen.$cssvar}font-size-default)) !default;
$font-sizes         : ()                                                !default;
$font-sizes: map.merge((
    6      : $font-size-6,
    5      : $font-size-5,
    4      : $font-size-4,
    3      : $font-size-3,
    2      : $font-size-2,
    1      : $font-size-1,
), $font-sizes);

$font-family                    : unset                                 !default;
$font-weight                    : 500                                   !default;
$font-style                     : unset                                 !default;
$text-decoration                : unset                                 !default;
$lineheight                     : 1.25                                  !default;

$color                          : unset                                 !default;

$margin-top                     : unset                                 !default;
$margin-bottom                  : calc(var(#{$cssvar}font-size) * 0.75) !default;
$margin-left                    : unset                                 !default;
$margin-right                   : unset                                 !default;



@include declare-cssvar($var-root) {
    @each $name, $value in $font-sizes {
        #{$cssvar}font-size-#{$name}    : #{$value};
    }

    #{$cssvar}font-family       : #{$font-family};
    #{$cssvar}font-weight       : #{$font-weight};
    #{$cssvar}font-style        : #{$font-style};
    #{$cssvar}text-decoration   : #{$text-decoration};
    #{$cssvar}lineheight        : #{$lineheight};

    #{$cssvar}color             : #{$color};

    #{$cssvar}margin-top        : #{$margin-top};
    #{$cssvar}margin-bottom     : #{$margin-bottom};
    #{$cssvar}margin-left       : #{$margin-left};
    #{$cssvar}margin-right      : #{$margin-right};
}



/* begin: division class */
@mixin _style-of($level, $include) {
    // explicitly includes from abstract parent class
    @if ($include) { @include style; }
    @else          { @extend #{$alias} !optional; }


    @if (not map.has-key($font-sizes, $level)) { @error "#{$level} is not found."; }

    #{$cssvar}font-size : var(#{$cssvar}font-size-#{$level});
}
@mixin style-of($level) {
    @include _style-of($level, true);
}
@each $level, $value in $font-sizes {
    @include alias-of($alias, $level) {
        @include _style-of($level, false);
    }


    @include class(part-combine($alias, #{$level}), #{$level}, $class);
}
/* end: division class */



/* begin: general style */
@mixin _style($include) {
    @if ($include) { @include  base.style; }
    @else          { @extend #{base.$alias} !optional; }


    font-size       : var(#{$cssvar}font-size);
    font-family     : var(#{$cssvar}font-family);
    font-weight     : var(#{$cssvar}font-weight);
    font-style      : var(#{$cssvar}font-style);
    text-decoration : var(#{$cssvar}text-decoration);
    line-height     : var(#{$cssvar}lineheight);

    color           : var(#{$cssvar}color);

    &:not(:first-child) { margin-top    : var(#{$cssvar}margin-top); }
    &:not(:last-child)  { margin-bottom : var(#{$cssvar}margin-bottom); }
    margin-left     : var(#{$cssvar}margin-left);
    margin-right    : var(#{$cssvar}margin-right);
}
@mixin style {
    @include _style(true);
}
@include alias($alias) {
    @include _style(false);
}
/* end: general style */



// abstract class => no emit class
// @include class($alias, $class, "");