// Secondary typography
// A standout paragraph



@use "dependencies" as *;



$class                          : "hr"      !default;
$var-root                       : ":root"   !default;
$var-prefix                     : "hr"      !default;
$cssvar: "";
@if (($var-prefix == null) or ($var-prefix == "")) {
    $cssvar: "--";
} @else {
    $cssvar: "--#{$var-prefix}-";
}

$opacity                        : 0.1 !default;
$border                         : 1px solid var(#{$colorcssvar}color) !default;
$margin-y                       : var(#{$spacercssvar}, 1rem) !default;



@mixin cssvar {
    #{$cssvar}opacity          : #{$opacity};
    #{$cssvar}border           : #{$border};
    #{$cssvar}margin-y         : #{$margin-y};
}
@if ($var-root) {
    #{$var-root} { @include cssvar; }
}



@mixin horizontal-rule {
    opacity         : var(#{$cssvar}opacity);
    border-top      : var(#{$cssvar}border);
    margin-top      : var(#{$cssvar}margin-y);
    margin-bottom   : var(#{$cssvar}margin-y);
}
@if ($class) {
    #{$class} { @include horizontal-rule; }
}