// Marking Keyboard
// Represents a span of inline text denoting textual user input from a keyboard, voice input, or any other text entry device.



@use "dependencies" as *;
@use "base"         as base;
@use "marking-mark" as mark;
@use "marking-code" as code;



$alias              : "%typo-marking-kbd"                   !default;
$class              : "kbd, .kbd"                           !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "kbd"                                 !default;
$var-prefix-base    : base.$var-prefix                      !default;
$cssvar: make-cssvar($var-prefix, $var-prefix-base);

$font-size          : var(#{code.$cssvar}font-size)         !default;
$font-family        : var(#{code.$cssvar}font-family)       !default;
$font-weight        : var(#{code.$cssvar}font-weight)       !default;
$font-style         : var(#{code.$cssvar}font-style)        !default;
$lineheight         : var(#{code.$cssvar}lineheight)        !default;

$color              : var(#{$color-cssvar}white)            !default;
$backg              : var(#{$color-cssvar}gray-dark)        !default;

$padding-x          : 0.4rem                                !default;
$padding-y          : 0.2rem                                !default;
$border             : var(#{mark.$cssvar}border)            !default;
$border-radius      : var(#{mark.$cssvar}border-radius)     !default;



@include declare-cssvar($var-root) {
    #{$cssvar}font-size     : #{$font-size};
    #{$cssvar}font-family   : #{$font-family};
    #{$cssvar}font-weight   : #{$font-weight};
    #{$cssvar}font-style    : #{$font-style};
    #{$cssvar}lineheight    : #{$lineheight};

    #{$cssvar}color         : #{$color};
    #{$cssvar}backg         : #{$backg};

    #{$cssvar}padding-x     : #{$padding-x};
    #{$cssvar}padding-y     : #{$padding-y};
    #{$cssvar}border        : #{$border};
    #{$cssvar}border-radius : #{$border-radius};
}



/* begin: specialized style */
@include mark.style-nested-self($class);
/* end: specialized style */



/* begin: general style */
@mixin _style($include) {
    @if ($include) { @include  base.style; }
    @else          { @extend #{base.$alias} !optional; }


    font-size       : var(#{$cssvar}font-size);
    font-family     : var(#{$cssvar}font-family);
    font-weight     : var(#{$cssvar}font-weight);
    font-style      : var(#{$cssvar}font-style);
    line-height     : var(#{$cssvar}lineheight);

    color           : var(#{$cssvar}color);
    background      : var(#{$cssvar}backg);
    
    padding-left    : var(#{$cssvar}padding-x);
    padding-right   : var(#{$cssvar}padding-x);
    padding-top     : var(#{$cssvar}padding-y);
    padding-bottom  : var(#{$cssvar}padding-y);
    border          : var(#{$cssvar}border);
    border-radius   : var(#{$cssvar}border-radius);

    direction       : ltr;
    unicode-bidi    : bidi-override;
    word-wrap       : break-word;
}
@mixin style {
    @include _style(true);
}
@include alias($alias) {
    @include _style(false);
}
/* end: general style */



@include class($alias, $class, "");