// Secondary typography
// A standout paragraph



@use "dependencies" as *;



$class                          : "var, .var"   !default;
$var-root                       : ":root"       !default;
$var-prefix                     : "var"         !default;
$cssvar: "";
@if (($var-prefix == null) or ($var-prefix == "")) {
    $cssvar: "--";
} @else {
    $cssvar: "--#{$var-prefix}-";
}

$font-size                      : unset !default;
$font-family                    : var(--font-family-monospace) !default;
$font-weight                    : unset !default;
$lineheight                     : unset !default;
$color                          : unset !default;
$background                     : var(--info-transp) !default;
$padding                        : 0.2em !default;



@mixin css-vars {
    #{$cssvar}font-size        : #{$font-size};
    #{$cssvar}font-family      : #{$font-family};
    #{$cssvar}font-weight      : #{$font-weight};
    #{$cssvar}lineheight       : #{$lineheight};
    #{$cssvar}color            : #{$color};
    #{$cssvar}background       : #{$background};
    #{$cssvar}padding          : #{$padding};
}
@if ($var-root) {
    #{$var-root} { @include css-vars; }
}



@mixin marking-var {
    font-size       : var(#{$cssvar}font-size);
    font-family     : var(#{$cssvar}font-family);
    font-weight     : var(#{$cssvar}font-weight);
    line-height     : var(#{$cssvar}lineheight);
    color           : var(#{$cssvar}color); // currentColor
    background      : var(#{$cssvar}background);
    padding         : var(#{$cssvar}padding);
}
@if ($class) {
    #{$class} { @include marking-var; }
}