// Marking Code
// Displays its contents styled in a fashion intended to indicate that the text is a short fragment of computer code.



@use "dependencies" as *;
@use "base"         as base;
@use "marking-mark" as mark;
@use "general"      as gen;



$alias              : "%typo-marking-code"                  !default;
$class              : "code, .code"                         !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "code"                                !default;
$var-prefix-base    : base.$var-prefix                      !default;
$cssvar: make-cssvar($var-prefix, $var-prefix-base);

$font-size          : calc((var(#{gen.$cssvar}font-size-md) + var(#{gen.$cssvar}font-size-sm)) / 2) !default;
$font-family        : var(#{gen.$cssvar}font-family-monospace) !default;
$font-weight        : var(#{mark.$cssvar}font-weight)       !default;
$font-style         : var(#{mark.$cssvar}font-style)        !default;
$lineheight         : var(#{mark.$cssvar}lineheight)        !default;

$color              : var(#{$color-cssvar}pink)             !default;
$backg              : unset                                 !default;

$padding-x          : unset                                 !default;
$padding-y          : unset                                 !default;
$border             : unset                                 !default;
$border-radius      : unset                                 !default;



@include declare-cssvar($var-root) {
    #{$cssvar}font-size     : #{$font-size};
    #{$cssvar}font-family   : #{$font-family};
    #{$cssvar}font-weight   : #{$font-weight};
    #{$cssvar}font-style    : #{$font-style};
    #{$cssvar}lineheight    : #{$lineheight};

    #{$cssvar}color         : #{$color};
    #{$cssvar}backg         : #{$backg};

    #{$cssvar}padding-x     : #{$padding-x};
    #{$cssvar}padding-y     : #{$padding-y};
    #{$cssvar}border        : #{$border};
    #{$cssvar}border-radius : #{$border-radius};
}



/* begin: specialized style */
@include mark.style-nested-self($class);
/* end: specialized style */



/* begin: general style */
@mixin _style($include) {
    @if ($include) { @include  base.style; }
    @else          { @extend #{base.$alias} !optional; }


    font-size       : var(#{$cssvar}font-size);
    font-family     : var(#{$cssvar}font-family);
    font-weight     : var(#{$cssvar}font-weight);
    font-style      : var(#{$cssvar}font-style);
    line-height     : var(#{$cssvar}lineheight);

    color           : var(#{$cssvar}color);
    background      : var(#{$cssvar}backg);

    padding-left    : var(#{$cssvar}padding-x);
    padding-right   : var(#{$cssvar}padding-x);
    padding-top     : var(#{$cssvar}padding-y);
    padding-bottom  : var(#{$cssvar}padding-y);
    border          : var(#{$cssvar}border);
    border-radius   : var(#{$cssvar}border-radius);

    direction       : ltr;
    unicode-bidi    : bidi-override;
    word-wrap       : break-word;
}
@mixin style {
    @include _style(true);
}
@include alias($alias) {
    @include _style(false);
}
/* end: general style */



@include class($alias, $class, "");