// Secondary typography
// A standout paragraph



@use "dependencies" as *;
@use "general" as general;



$class                          : "kbd, .kbd"   !default;
$var-root                       : ":root"       !default;
$var-prefix                     : "kbd"         !default;
$cssvar: "";
@if (($var-prefix == null) or ($var-prefix == "")) {
    $cssvar: "--";
} @else {
    $cssvar: "--#{$var-prefix}-";
}

$font-size                      : unset !default;
$font-family                    : var(#{general.$cssvar}font-family-monospace) !default;
$font-weight                    : 700 !default;
$lineheight                     : unset !default;
$color                          : var(#{$colorcssvar}white) !default;
$background                     : var(#{$colorcssvar}black-transp) !default;
$padding                        : 0.2em !default;



@if ($var-root) { #{$var-root} {
    #{$cssvar}font-size        : #{$font-size};
    #{$cssvar}font-family      : #{$font-family};
    #{$cssvar}font-weight      : #{$font-weight};
    #{$cssvar}lineheight       : #{$lineheight};
    #{$cssvar}color            : #{$color};
    #{$cssvar}background       : #{$background};
    #{$cssvar}padding          : #{$padding};
}}



@mixin style {
    font-size       : var(#{$cssvar}font-size);
    font-family     : var(#{$cssvar}font-family);
    font-weight     : var(#{$cssvar}font-weight);
    line-height     : var(#{$cssvar}lineheight);
    color           : var(#{$cssvar}color); // currentColor
    background      : var(#{$cssvar}background);
    padding         : var(#{$cssvar}padding);
}
@if ($class) {
    #{$class} { @include style; }
}