// Secondary typography
// A standout paragraph



@use "dependencies" as *;



$class                          : "mark, .mark"     !default;
$var-root                       : ":root"           !default;
$var-prefix                     : "mark"            !default;
$cssvar: "";
@if (($var-prefix == null) or ($var-prefix == "")) {
    $cssvar: "--";
} @else {
    $cssvar: "--#{$var-prefix}-";
}

$font-size                      : unset !default;
$font-family                    : unset !default;
$font-weight                    : unset !default;
$lineheight                     : unset !default;
$color                          : unset !default;
$background                     : var(#{$colorcssvar}warning-transp) !default;
$padding                        : 0.2em !default;



@mixin cssvar {
    #{$cssvar}font-size        : #{$font-size};
    #{$cssvar}font-family      : #{$font-family};
    #{$cssvar}font-weight      : #{$font-weight};
    #{$cssvar}lineheight       : #{$lineheight};
    #{$cssvar}color            : #{$color};
    #{$cssvar}background       : #{$background};
    #{$cssvar}padding          : #{$padding};
}
@if ($var-root) {
    #{$var-root} { @include cssvar; }
}



@mixin marking-mark {
    font-size       : var(#{$cssvar}font-size);
    font-family     : var(#{$cssvar}font-family);
    font-weight     : var(#{$cssvar}font-weight);
    line-height     : var(#{$cssvar}lineheight);
    color           : var(#{$cssvar}color); // currentColor
    background      : var(#{$cssvar}background);
    padding         : var(#{$cssvar}padding);
}
@if ($class) {
    #{$class} { @include marking-mark; }
}