// Secondary typography
// A standout paragraph



@use "dependencies" as *;



$class                          : "p"       !default;
$var-root                       : ":root"   !default;
$var-prefix                     : "p"       !default;

$font-size                      : unset !default;
$font-family                    : unset !default;
$font-weight                    : unset !default;
$lineheight                     : unset !default;
$color                          : unset !default;
$margin-bottom                  : 1.00/*percent of paragraph's size*/ !default;



$_cssvar: "";
@if (($var-prefix == null) or ($var-prefix == "")) {
    $_cssvar: "--";
} @else {
    $_cssvar: "--#{$var-prefix}-";
}
@mixin css-vars {
    #{$_cssvar}font-size        : #{$font-size};
    #{$_cssvar}font-family      : #{$font-family};
    #{$_cssvar}font-weight      : #{$font-weight};
    #{$_cssvar}lineheight       : #{$lineheight};
    #{$_cssvar}color            : #{$color};
    #{$_cssvar}margin-bottom    : #{$margin-bottom};
}
@if ($var-root) {
    #{$var-root} { @include css-vars; }
}



@mixin paragraph {
    font-size       : var(#{$_cssvar}font-size);
    font-family     : var(#{$_cssvar}font-family);
    font-weight     : var(#{$_cssvar}font-weight);
    line-height     : var(#{$_cssvar}lineheight);
    color           : var(#{$_cssvar}color); // currentColor
    margin-bottom   : calc(var(#{$_cssvar}margin-bottom) * var(#{$_cssvar}font-size));
}
@if ($class) {
    #{$class} { @include paragraph; }
}