// Secondary typography
// A standout paragraph



@use "dependencies" as *;



$class                          : "p"       !default;
$var-root                       : ":root"   !default;
$var-prefix                     : "p"       !default;
$cssvar: "";
@if (($var-prefix == null) or ($var-prefix == "")) {
    $cssvar: "--";
} @else {
    $cssvar: "--#{$var-prefix}-";
}

$font-size                      : unset !default;
$font-family                    : unset !default;
$font-weight                    : unset !default;
$lineheight                     : unset !default;
$color                          : unset !default;
$margin-bottom                  : 1.00/*percent of paragraph's size*/ !default;



@mixin cssvar {
    #{$cssvar}font-size        : #{$font-size};
    #{$cssvar}font-family      : #{$font-family};
    #{$cssvar}font-weight      : #{$font-weight};
    #{$cssvar}lineheight       : #{$lineheight};
    #{$cssvar}color            : #{$color};
    #{$cssvar}margin-bottom    : #{$margin-bottom};
}
@if ($var-root) {
    #{$var-root} { @include cssvar; }
}



@mixin paragraph {
    font-size       : var(#{$cssvar}font-size);
    font-family     : var(#{$cssvar}font-family);
    font-weight     : var(#{$cssvar}font-weight);
    line-height     : var(#{$cssvar}lineheight);
    color           : var(#{$cssvar}color); // currentColor
    margin-bottom   : calc(var(#{$cssvar}margin-bottom) * var(#{$cssvar}font-size));
}
@if ($class) {
    #{$class} { @include paragraph; }
}