// Secondary typography
// A secondary / less important text



@use "dependencies" as *;



$class                          : ".secondary, small"   !default;
$var-root                       : ":root"               !default;
$var-prefix                     : "secondary"           !default;
$cssvar: "";
@if (($var-prefix == null) or ($var-prefix == "")) {
    $cssvar: "--";
} @else {
    $cssvar: "--#{$var-prefix}-";
}

$color                          : unset                 !default;
$opacity                        : 0.5                   !default;



@if ($var-root) { #{$var-root} {
    #{$cssvar}color        : #{$color};
    #{$cssvar}opacity      : #{$opacity};
}}



@mixin style {
    color   : var(#{$cssvar}color); // currentColor
    opacity : var(#{$cssvar}opacity);
}
@if ($class) {
    #{$class} { @include style; }
}