// A base class of typography.



@use "dependencies" as *;



$class              : "body"                                !default;
$var-root           : ":root"                               !default;
$var-prefix         : ""                                    !default;
$var-prefix-base    : ""                                    !default;
$var: make-var($var-prefix, $var-prefix-base);

/* define variables here */



@include declare-cssvar($var-root) {
}



/* begin: general style */
@mixin style {
}
/* end: general style */



// abstract class => no emit class
// @include class($class) { @include style; }