// A base class of typography.



@use "~@nodestrap/sass-class-template/src/index" as *;



$class              : "body"                                !default;
$var-root           : ":root"                               !default;
$var-prefix         : ""                                    !default;
$var-prefix-base    : ""                                    !default;
$var: make-var($var-prefix, $var-prefix-base);

/* define variables here */



@include declare-vars($var-root) {
}



/* begin: general style */
@mixin style($var: $var) {
    font-size            : var(#{$var}font-size);
    font-family          : var(#{$var}font-family);
    font-weight          : var(#{$var}font-weight);
    font-style           : var(#{$var}font-style);
    text-decoration      : var(#{$var}text-decoration);
    line-height          : var(#{$var}line-height);

    color                : var(#{$var}color);
}
/* end: general style */



// abstract class => no emit class
// @include class($class) { @include style; }