// Emphasized paragraph typography
// Make a paragraph stand out



@use "~@nodestrap/sass-class-template/src/index" as *;

@use "base"                                      as base;
@use "general"                                   as gen;
@use "paragraph"                                 as para;



$class              : "blockquote, .blockquote"             !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "bquote"                              !default;
$var-prefix-base    : base.$var-prefix                      !default;
$var: make-var($var-prefix, $var-prefix-base);

$font-size              : var(#{gen.$var}font-size-md)      !default;
$font-family            : inherit                           !default;
$font-weight            : inherit                           !default;
$font-style             : inherit                           !default;
$text-decoration        : inherit                           !default;
$line-height            : inherit                           !default;

$color                  : inherit                           !default;

$margin-block-start     : 0px                               !default;
$margin-block-end       : 1em                               !default;
$margin-inline-start    : 0px                               !default;
$margin-inline-end      : 0px                               !default;



@include declare-vars($var-root) {
    #{$var}font-size                : $font-size;
    #{$var}font-family              : $font-family;
    #{$var}font-weight              : $font-weight;
    #{$var}font-style               : $font-style;
    #{$var}text-decoration          : $text-decoration;
    #{$var}line-height              : $line-height;

    #{$var}color                    : $color;
    
    #{$var}margin-block-start       : $margin-block-start;
    #{$var}margin-block-end         : $margin-block-end;
    #{$var}margin-inline-start      : $margin-inline-start;
    #{$var}margin-inline-end        : $margin-inline-end;
}



@mixin style($var: $var) {
    @include para.style($var: $var);
}



@include class($class) { @include style; }