// Description List Typography
// Encloses a list of groups of terms (specified using the <dt> element) and descriptions (provided by <dd> elements).



@use "dependencies" as *;
@use "base"         as base;
@use "general"      as gen;



$alias              : "%typo-desc-list"                     !default;
$class              : "dl"                                  !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "dl"                                  !default;
$var-prefix-base    : base.$var-prefix                      !default;
$cssvar: make-cssvar($var-prefix, $var-prefix-base);

$margin-top         : 0px                                   !default;
$margin-bottom      : var(#{$spacer-cssvar}default)         !default;
$margin-left        : 0px                                   !default;
$margin-right       : 0px                                   !default;


$dt-font-size       : unset                                 !default;
$dt-font-family     : unset                                 !default;
$dt-font-weight     : var(#{gen.$cssvar}font-weight-bold)   !default;
$dt-font-style      : unset                                 !default;
$dt-text-decoration : unset                                 !default;
$dt-lineheight      : unset                                 !default;

$dt-color           : unset                                 !default;

$dt-margin-top      : 0px                                   !default;
$dt-margin-bottom   : 0px                                   !default;
$dt-margin-left     : 0px                                   !default;
$dt-margin-right    : 0px                                   !default;


$dd-font-size       : unset                                 !default;
$dd-font-family     : unset                                 !default;
$dd-font-weight     : unset                                 !default;
$dd-font-style      : unset                                 !default;
$dd-text-decoration : unset                                 !default;
$dd-lineheight      : unset                                 !default;

$dd-color           : unset                                 !default;

$dd-margin-top      : 0px                                   !default;
$dd-margin-bottom   : var(#{$spacer-cssvar}sm)              !default;
$dd-margin-left     : 0px                                   !default;
$dd-margin-right    : 0px                                   !default;



@include declare-cssvar($var-root) {
    #{$cssvar}margin-top            : #{$margin-top};
    #{$cssvar}margin-bottom         : #{$margin-bottom};
    #{$cssvar}margin-left           : #{$margin-left};
    #{$cssvar}margin-right          : #{$margin-right};


    #{$cssvar}dt-font-size          : #{$dt-font-size};
    #{$cssvar}dt-font-family        : #{$dt-font-family};
    #{$cssvar}dt-font-weight        : #{$dt-font-weight};
    #{$cssvar}dt-font-style         : #{$dt-font-style};
    #{$cssvar}dt-text-decoration    : #{$dt-text-decoration};
    #{$cssvar}dt-lineheight         : #{$dt-lineheight};

    #{$cssvar}dt-color              : #{$dt-color};

    #{$cssvar}dt-margin-top         : #{$dt-margin-top};
    #{$cssvar}dt-margin-bottom      : #{$dt-margin-bottom};
    #{$cssvar}dt-margin-left        : #{$dt-margin-left};
    #{$cssvar}dt-margin-right       : #{$dt-margin-right};


    #{$cssvar}dd-font-size          : #{$dd-font-size};
    #{$cssvar}dd-font-family        : #{$dd-font-family};
    #{$cssvar}dd-font-weight        : #{$dd-font-weight};
    #{$cssvar}dd-font-style         : #{$dd-font-style};
    #{$cssvar}dd-text-decoration    : #{$dd-text-decoration};
    #{$cssvar}dd-lineheight         : #{$dd-lineheight};

    #{$cssvar}dd-color              : #{$dd-color};

    #{$cssvar}dd-margin-top         : #{$dd-margin-top};
    #{$cssvar}dd-margin-bottom      : #{$dd-margin-bottom};
    #{$cssvar}dd-margin-left        : #{$dd-margin-left};
    #{$cssvar}dd-margin-right       : #{$dd-margin-right};
}



/* begin: general style */
@mixin _style($include) {
    @if ($include) { @include  base.style; }
    @else          { @extend #{base.$alias} !optional; }


    &:not(:first-child) { margin-top    : var(#{$cssvar}margin-top); }
    &:not(:last-child)  { margin-bottom : var(#{$cssvar}margin-bottom); }
    margin-left     : var(#{$cssvar}margin-left);
    margin-right    : var(#{$cssvar}margin-right);


    > dt {
        font-size       : var(#{$cssvar}dt-font-size);
        font-family     : var(#{$cssvar}dt-font-family);
        font-weight     : var(#{$cssvar}dt-font-weight);
        font-style      : var(#{$cssvar}dt-font-style);
        text-decoration : var(#{$cssvar}dt-text-decoration);
        line-height     : var(#{$cssvar}dt-lineheight);
    
        color           : var(#{$cssvar}dt-color);
    
        margin-top      : var(#{$cssvar}dt-margin-top);
        margin-bottom   : var(#{$cssvar}dt-margin-bottom);
        margin-left     : var(#{$cssvar}dt-margin-left);
        margin-right    : var(#{$cssvar}dt-margin-right);
    }


    > dd {
        font-size       : var(#{$cssvar}dd-font-size);
        font-family     : var(#{$cssvar}dd-font-family);
        font-weight     : var(#{$cssvar}dd-font-weight);
        font-style      : var(#{$cssvar}dd-font-style);
        text-decoration : var(#{$cssvar}dd-text-decoration);
        line-height     : var(#{$cssvar}dd-lineheight);
    
        color           : var(#{$cssvar}dd-color);
    
        margin-top      : var(#{$cssvar}dd-margin-top);
        margin-bottom   : var(#{$cssvar}dd-margin-bottom);
        margin-left     : var(#{$cssvar}dd-margin-left);
        margin-right    : var(#{$cssvar}dd-margin-right);
    }
}
@mixin style {
    @include _style(true);
}
@include alias($alias) {
    @include _style(false);
}
/* end: general style */



@include class($alias, $class, "");