// Description List Typography
// Encloses a list of groups of terms (specified using the <dt> element) and descriptions (provided by <dd> elements).



@use "~@nodestrap/sass-class-template/src/index" as *;
@use "~@nodestrap/spacer/src/index"              as spacer;

@use "base"                                      as base;
@use "paragraph"                                 as para;



$class              : "dl"                                  !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "dl"                                  !default;
$var-prefix-base    : base.$var-prefix                      !default;
$var: make-var($var-prefix, $var-prefix-base);

$margin-block-start     : 0px                               !default;
$margin-block-end       : var(#{spacer.$var}default)        !default;
$margin-inline-start    : 0px                               !default;
$margin-inline-end      : 0px                               !default;


$dt-font-size           : inherit                           !default;
$dt-font-family         : inherit                           !default;
$dt-font-weight         : inherit                           !default;
$dt-font-style          : inherit                           !default;
$dt-text-decoration     : inherit                           !default;
$dt-line-height         : inherit                           !default;

$dt-color               : inherit                           !default;

$dt-margin-block-start  : 0px                               !default;
$dt-margin-block-end    : 0px                               !default;
$dt-margin-inline-start : 0px                               !default;
$dt-margin-inline-end   : 0px                               !default;


$dd-font-size           : inherit                           !default;
$dd-font-family         : inherit                           !default;
$dd-font-weight         : inherit                           !default;
$dd-font-style          : inherit                           !default;
$dd-text-decoration     : inherit                           !default;
$dd-line-height         : inherit                           !default;

$dd-color               : inherit                           !default;

$dd-margin-block-start  : 0px                               !default;
$dd-margin-block-end    : var(#{spacer.$var}sm)             !default;
$dd-margin-inline-start : 0px                               !default;
$dd-margin-inline-end   : 0px                               !default;



@include declare-vars($var-root) {
    #{$var}margin-block-start       : $margin-block-start;
    #{$var}margin-block-end         : $margin-block-end;
    #{$var}margin-inline-start      : $margin-inline-start;
    #{$var}margin-inline-end        : $margin-inline-end;


    #{$var}dt-font-size             : $dt-font-size;
    #{$var}dt-font-family           : $dt-font-family;
    #{$var}dt-font-weight           : $dt-font-weight;
    #{$var}dt-font-style            : $dt-font-style;
    #{$var}dt-text-decoration       : $dt-text-decoration;
    #{$var}dt-line-height           : $dt-line-height;

    #{$var}dt-color                 : $dt-color;

    #{$var}dt-margin-block-start    : $dt-margin-block-start;
    #{$var}dt-margin-block-end      : $dt-margin-block-end;
    #{$var}dt-margin-inline-start   : $dt-margin-inline-start;
    #{$var}dt-margin-inline-end     : $dt-margin-inline-end;


    #{$var}dd-font-size             : $dd-font-size;
    #{$var}dd-font-family           : $dd-font-family;
    #{$var}dd-font-weight           : $dd-font-weight;
    #{$var}dd-font-style            : $dd-font-style;
    #{$var}dd-text-decoration       : $dd-text-decoration;
    #{$var}dd-line-height           : $dd-line-height;

    #{$var}dd-color                 : $dd-color;

    #{$var}dd-margin-block-start    : $dd-margin-block-start;
    #{$var}dd-margin-block-end      : $dd-margin-block-end;
    #{$var}dd-margin-inline-start   : $dd-margin-inline-start;
    #{$var}dd-margin-inline-end     : $dd-margin-inline-end;
}



@mixin style($var: $var) {
    // @include base.style($var: $var);


    display              : block;
    

    margin-block-start   : var(#{$var}margin-block-start);
    margin-block-end     : var(#{$var}margin-block-end);
    margin-inline-start  : var(#{$var}margin-inline-start);
    margin-inline-end    : var(#{$var}margin-inline-end);


    > dt {
        @include para.style($var: part-combine($var, "dt"));
    }


    > dd {
        @include para.style($var: part-combine($var, "dd"));
    }
}



@include class($class) { @include style; }