// Display typography
// An oversized heading



@use "~@nodestrap/sass-class-template/src/index" as *;

@use "base"                                      as base;
@use "general"                                   as gen;
@use "heading"                                   as head;

@use "sass:map"                                  as map;



$class              : ".display-"                           !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "disp"                                !default;
$var-prefix-base    : base.$var-prefix                      !default;
$var: make-var($var-prefix, $var-prefix-base);

$font-size-6        : calc(2.50 * var(#{gen.$var}font-size-default)) !default;
$font-size-5        : calc(3.00 * var(#{gen.$var}font-size-default)) !default;
$font-size-4        : calc(3.50 * var(#{gen.$var}font-size-default)) !default;
$font-size-3        : calc(4.00 * var(#{gen.$var}font-size-default)) !default;
$font-size-2        : calc(4.50 * var(#{gen.$var}font-size-default)) !default;
$font-size-1        : calc(5.00 * var(#{gen.$var}font-size-default)) !default;
$font-sizes         : ()                                             !default;
$font-sizes: map.merge((
    6      : $font-size-6,
    5      : $font-size-5,
    4      : $font-size-4,
    3      : $font-size-3,
    2      : $font-size-2,
    1      : $font-size-1,
), $font-sizes);

$font-family            : var(#{head.$var}font-family)      !default;
$font-weight            : 300                               !default;
$font-style             : var(#{head.$var}font-style)       !default;
$text-decoration        : var(#{head.$var}text-decoration)  !default;
$line-height            : var(#{head.$var}line-height)      !default;

$color                  : var(#{head.$var}color)            !default;

$margin-block-start     : var(#{head.$var}margin-block-start)  !default;
$margin-block-end       : var(#{head.$var}margin-block-end)    !default;
$margin-inline-start    : var(#{head.$var}margin-inline-start) !default;
$margin-inline-end      : var(#{head.$var}margin-inline-end)   !default;



@include declare-vars($var-root) {
    @each $name, $value in $font-sizes {
        #{$var}font-size-#{$name}   : $value;
    }

    #{$var}font-family              : $font-family;
    #{$var}font-weight              : $font-weight;
    #{$var}font-style               : $font-style;
    #{$var}text-decoration          : $text-decoration;
    #{$var}line-height              : $line-height;

    #{$var}color                    : $color;

    #{$var}margin-block-start       : $margin-block-start;
    #{$var}margin-block-end         : $margin-block-end;
    #{$var}margin-inline-start      : $margin-inline-start;
    #{$var}margin-inline-end        : $margin-inline-end;
}



/// @param {number} $level the display level (1 to 6).
@mixin style($level: null, $var: $var) {
    @include head.style($level: $level, $var: $var, $font-sizes: $font-sizes);
}



@each $level, $size in $font-sizes {
    @include class("#{$class}#{$level}") { @include style($level: $level); }
}