// General typography.
// A global font setting on a web page (font style, font color, background color, etc).



@use "~@nodestrap/sass-class-template/src/index" as *;
@use "~@nodestrap/colors/src/index"              as color;

@use "base"                                      as base;

@use "sass:map"                                  as map;



$class              : base.$class                           !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : ""                                    !default;
$var-prefix-base    : base.$var-prefix                      !default;
$var: make-var($var-prefix, $var-prefix-base);

$font-size                      :      var(#{$var}font-size-default)    !default;
$font-size-default              :      var(#{$var}font-size-nm)         !default;
$font-size-xs                   : calc(var(#{$var}font-size-nm) * 0.50) !default;
$font-size-sm                   : calc(var(#{$var}font-size-nm) * 0.75) !default;
$font-size-nm                   : 1.00rem                               !default;
$font-size-md                   : calc(var(#{$var}font-size-nm) * 1.25) !default;
$font-size-lg                   : calc(var(#{$var}font-size-nm) * 1.50) !default;
$font-size-xl                   : calc(var(#{$var}font-size-nm) * 1.75) !default;
$font-size-xxl                  : calc(var(#{$var}font-size-nm) * 2.00) !default;
$font-size-xxxl                 : calc(var(#{$var}font-size-nm) * 2.25) !default;
$font-sizes                     : ()                                    !default;
$font-sizes: map.merge((
    default : $font-size-default,
    xs      : $font-size-xs,
    sm      : $font-size-sm,
    nm      : $font-size-nm,
    md      : $font-size-md,
    lg      : $font-size-lg,
    xl      : $font-size-xl,
    xxl     : $font-size-xxl,
    xxxl    : $font-size-xxxl,
), $font-sizes);

$font-family                    : var(#{$var}font-family-default)       !default;
$font-family-default            : var(#{$var}font-family-sans-serif)    !default;
$font-family-sans-serif         : system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace          : SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-families                  : ()                                    !default;
$font-families: map.merge((
    default     : $font-family-default,
    sans-serif  : $font-family-sans-serif,
    monospace   : $font-family-monospace,
), $font-families);

$font-weight                    : var(#{$var}font-weight-default)       !default;
$font-weight-default            : var(#{$var}font-weight-normal)        !default;
$font-weight-lighter            : lighter                               !default;
$font-weight-light              : 300                                   !default;
$font-weight-normal             : 400                                   !default;
$font-weight-bold               : 700                                   !default;
$font-weight-bolder             : bolder                                !default;
$font-weights                   : ()                                    !default;
$font-weights: map.merge((
    default : $font-weight-default,
    lighter : $font-weight-lighter,
    light   : $font-weight-light,
    normal  : $font-weight-normal,
    bold    : $font-weight-bold,
    bolder  : $font-weight-bolder,
), $font-weights);

$font-style                     : unset                                 !default;
$text-decoration                : unset                                 !default;

$line-height                    : var(#{$var}line-height-default)       !default;
$line-height-default            : var(#{$var}line-height-nm)            !default;
$line-height-sm                 : 1.25                                  !default;
$line-height-nm                 : 1.50                                  !default;
$line-height-lg                 : 2.00                                  !default;
$line-heights                   : ()                                    !default;
$line-heights: map.merge((
    default : $line-height-default,
    sm      : $line-height-sm,
    nm      : $line-height-nm,
    lg      : $line-height-lg,
), $line-heights);

$color                          : var(#{color.$var}dark)                !default;
$backg                          : var(#{color.$var}white)               !default;



@include declare-vars($var-root) {
    @if (map.has-key($font-sizes, default)) {
        #{$var}font-size            : var(#{$var}font-size-default);
    }
    @each $name, $value in $font-sizes {
        #{$var}font-size-#{$name}   : $value;
    }

    
    @if (map.has-key($font-families, default)) {
        #{$var}font-family          : var(#{$var}font-family-default);
    }
    @each $name, $value in $font-families {
        #{$var}font-family-#{$name} : $value;
    }
    
    
    @if (map.has-key($font-weights, default)) {
        #{$var}font-weight          : var(#{$var}font-weight-default);
    }
    @each $name, $value in $font-weights {
        #{$var}font-weight-#{$name} : $value;
    }


    #{$var}font-style               : $font-style;
    #{$var}text-decoration          : $text-decoration;
    

    @if (map.has-key($line-heights, default)) {
        #{$var}line-height          : var(#{$var}line-height-default);
    }
    @each $name, $value in $line-heights {
        #{$var}line-height-#{$name} : $value;
    }


    #{$var}color                    : $color;
    #{$var}backg                    : $backg;
}



/* begin: general style */
@mixin style {
    @include base.style;

    
    font-size       : var(#{$var}font-size-default);
    font-family     : var(#{$var}font-family-default);
    font-weight     : var(#{$var}font-weight-default);
    font-style      : var(#{$var}font-style);
    text-decoration : var(#{$var}text-decoration);
    line-height     : var(#{$var}line-height-default);

    color           : var(#{$var}color);
    background      : var(#{$var}backg);
}
/* end: general style */



@include class($class) { @include style; }