// Heading typography
// A title text



@use "~@nodestrap/sass-class-template/src/index" as *;

@use "base"                                      as base;
@use "general"                                   as gen;
@use "paragraph"                                 as para;

@use "sass:map"                                  as map;



$class              : "h, .h"                               !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "h"                                   !default;
$var-prefix-base    : base.$var-prefix                      !default;
$var: make-var($var-prefix, $var-prefix-base);

$font-size-6        : calc(1.00 * var(#{gen.$var}font-size-default)) !default;
$font-size-5        : calc(1.25 * var(#{gen.$var}font-size-default)) !default;
$font-size-4        : calc(1.50 * var(#{gen.$var}font-size-default)) !default;
$font-size-3        : calc(1.75 * var(#{gen.$var}font-size-default)) !default;
$font-size-2        : calc(2.00 * var(#{gen.$var}font-size-default)) !default;
$font-size-1        : calc(2.25 * var(#{gen.$var}font-size-default)) !default;
$font-sizes         : ()                                             !default;
$font-sizes: map.merge((
    6      : $font-size-6,
    5      : $font-size-5,
    4      : $font-size-4,
    3      : $font-size-3,
    2      : $font-size-2,
    1      : $font-size-1,
), $font-sizes);

$font-family            : inherit                           !default;
$font-weight            : 500                               !default;
$font-style             : inherit                           !default;
$text-decoration        : inherit                           !default;
$line-height            : 1.25                              !default;

$color                  : inherit                           !default;

$margin-block-start     : 0px                               !default;
$margin-block-end       : 0.75em                            !default;
$margin-inline-start    : 0px                               !default;
$margin-inline-end      : 0px                               !default;



@include declare-vars($var-root) {
    @each $name, $value in $font-sizes {
        #{$var}font-size-#{$name}   : $value;
    }

    #{$var}font-family              : $font-family;
    #{$var}font-weight              : $font-weight;
    #{$var}font-style               : $font-style;
    #{$var}text-decoration          : $text-decoration;
    #{$var}line-height              : $line-height;

    #{$var}color                    : $color;

    #{$var}margin-block-start       : $margin-block-start;
    #{$var}margin-block-end         : $margin-block-end;
    #{$var}margin-inline-start      : $margin-inline-start;
    #{$var}margin-inline-end        : $margin-inline-end;
}



/// @param {number} $level the heading level (1 to 6).
@mixin style($level: null, $var: $var, $font-sizes: $font-sizes) {
    @include para.style($var: $var);


    @if ($level) {
        @if (not map.has-key($font-sizes, $level)) { @error "#{$level} is not found."; }

        #{$var}font-size : var(#{$var}font-size-#{$level});
    }
}



@each $level, $size in $font-sizes {
    @include class("#{$class}#{$level}") { @include style($level: $level); }
}