// Horizontal Rule typography
// Represents a thematic break between paragraph-level elements



@use "~@nodestrap/sass-class-template/src/index" as *;
@use "~@nodestrap/border/src/index"              as border;
@use "~@nodestrap/spacer/src/index"              as spacer;

@use "base"                                      as base;



$class              : "hr"                                  !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "hr"                                  !default;
$var-prefix-base    : base.$var-prefix                      !default;
$var: make-var($var-prefix, $var-prefix-base);

$color                  : inherit                           !default;
$opacity                : 0.25                              !default;

$width                  : var(#{border.$var}hair)           !default;

$margin-block-start     : var(#{spacer.$var}default)        !default;
$margin-block-end       : var(#{spacer.$var}default)        !default;
$margin-inline-start    : 0px                               !default;
$margin-inline-end      : 0px                               !default;



@include declare-vars($var-root) {
    #{$var}color                    : $color;
    #{$var}opacity                  : $opacity;

    #{$var}width                    : $width;

    #{$var}margin-block-start       : $margin-block-start;
    #{$var}margin-block-end         : $margin-block-end;
    #{$var}margin-inline-start      : $margin-inline-start;
    #{$var}margin-inline-end        : $margin-inline-end;
}



@mixin style($var: $var) {
    @include base.style($var: $var);


    display              : block;


    color                : var(#{$var}color);
    background-color     : currentColor;
    opacity              : var(#{$var}opacity);

    height               : var(#{$var}width);

    margin-block-start   : var(#{$var}margin-block-start);
    margin-block-end     : var(#{$var}margin-block-end);
    margin-inline-start  : var(#{$var}margin-inline-start);
    margin-inline-end    : var(#{$var}margin-inline-end);

    border               : 0px;
}



@include class($class) { @include style; }