// Marking Keyboard
// Represents a span of inline text denoting textual user input from a keyboard, voice input, or any other text entry device.



@use "~@nodestrap/sass-class-template/src/index" as *;
@use "~@nodestrap/colors/src/index"              as color;

@use "base"                                      as base;
@use "marking-mark"                              as mark;
@use "marking-code"                              as code;



$class              : "kbd, .kbd"                           !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "kbd"                                 !default;
$var-prefix-base    : base.$var-prefix                      !default;
$var: make-var($var-prefix, $var-prefix-base);

$font-size          : var(#{code.$var}font-size)            !default;
$font-family        : var(#{code.$var}font-family)          !default;
$font-weight        : var(#{code.$var}font-weight)          !default;
$font-style         : var(#{code.$var}font-style)           !default;
$text-decoration    : var(#{code.$var}text-decoration)      !default;
$line-height        : var(#{code.$var}line-height)          !default;

$color              : var(#{color.$var}white)               !default;
$backg              : var(#{color.$var}gray-dark)           !default;

$padding-x          : 0.4em                                 !default;
$padding-y          : 0.2em                                 !default;
$border             : var(#{mark.$var}border)               !default;
$border-radius      : var(#{mark.$var}border-radius)        !default;



@include declare-vars($var-root) {
    #{$var}font-size                : $font-size;
    #{$var}font-family              : $font-family;
    #{$var}font-weight              : $font-weight;
    #{$var}font-style               : $font-style;
    #{$var}text-decoration          : $text-decoration;
    #{$var}line-height              : $line-height;

    #{$var}color                    : $color;
    #{$var}backg                    : $backg;

    #{$var}padding-x                : $padding-x;
    #{$var}padding-y                : $padding-y;
    #{$var}border                   : $border;
    #{$var}border-radius            : $border-radius;
}



@include mark.style-nested-self($class);



@mixin style($var: $var) {
    @include code.style($var: $var);
}



@include class($class) { @include style; }