// General marking typography
// bold, underline, strike-through, italic, etc.



@use "~@nodestrap/sass-class-template/src/index" as *;

@use "base"                                      as base;
@use "general"                                   as gen;



$class              : ""                                    !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "gen"                                 !default;
$var-prefix-base    : base.$var-prefix                      !default;
$var: make-var($var-prefix, $var-prefix-base);



@include declare-vars($var-root) {
}



@mixin style {
    // @include base.style;

    
    %marking-general-base {
        display         : inline;
    }


    del, s {
        @extend %marking-general-base;

        text-decoration : line-through;
    }

    ins, u {
        @extend %marking-general-base;
        
        text-decoration : underline;
    }

    small, .small {
        @extend %marking-general-base;
        
        font-size       : var(#{gen.$var}font-size-sm);
    }

    strong, b {
        @extend %marking-general-base;
        
        font-weight     : var(#{gen.$var}font-weight-bolder);
    }

    em, i {
        @extend %marking-general-base;
        
        font-style      : italic;
    }
}



// @include class($class) { @include style; }
@include style;