// General marking typography
// bold, underline, strike-through, italic, etc.



@use "dependencies" as *;
@use "base"         as base;
@use "general"      as gen;



$class              : ""                                    !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "gen"                                 !default;
$var-prefix-base    : base.$var-prefix                      !default;
$var: make-var($var-prefix, $var-prefix-base);



@include declare-cssvar($var-root) {
}



/* begin: general style */
@mixin style {
    del, s {
        text-decoration: line-through;
    }

    ins, u {
        text-decoration: underline;
    }

    small, .small {
        font-size: var(#{gen.$cssvar}font-size-sm);
    }

    strong, b {
        font-weight: var(#{gen.$cssvar}font-weight-bolder);
    }

    em, i {
        font-style: italic;
    }
}
/* end: general style */



// @include class($class) { @include style; }
@include style;