// Marking Code
// Displays its contents styled in a fashion intended to indicate that the text is a short fragment of computer code.



@use "~@nodestrap/sass-class-template/src/index" as *;
@use "~@nodestrap/colors/src/index"              as color;

@use "base"                                      as base;
@use "marking-mark"                              as mark;
@use "general"                                   as gen;



$class              : "code, .code"                         !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "code"                                !default;
$var-prefix-base    : base.$var-prefix                      !default;
$var: make-var($var-prefix, $var-prefix-base);

$font-size          : calc((var(#{gen.$var}font-size-md) + var(#{gen.$var}font-size-sm)) / 2) !default;
$font-family        : var(#{gen.$var}font-family-monospace) !default;
$font-weight        : var(#{gen.$var}font-weight-normal)    !default;
$font-style         : none                                  !default;
$text-decoration    : none                                  !default;
$line-height        : inherit                               !default;

$color              : var(#{color.$var}pink)                !default;
$backg              : unset                                 !default;

$padding-x          : unset                                 !default;
$padding-y          : unset                                 !default;
$border             : unset                                 !default;
$border-radius      : unset                                 !default;



@include declare-vars($var-root) {
    #{$var}font-size                : $font-size;
    #{$var}font-family              : $font-family;
    #{$var}font-weight              : $font-weight;
    #{$var}font-style               : $font-style;
    #{$var}text-decoration          : $text-decoration;
    #{$var}line-height              : $line-height;

    #{$var}color                    : $color;
    #{$var}backg                    : $backg;

    #{$var}padding-x                : $padding-x;
    #{$var}padding-y                : $padding-y;
    #{$var}border                   : $border;
    #{$var}border-radius            : $border-radius;
}



@include mark.style-nested-self($class);



@mixin style($var: $var) {
    @include mark.style($var: $var);
    

    direction       : ltr;
    unicode-bidi    : bidi-override;
    word-wrap       : break-word;
}



@include class($class) { @include style; }