// Marking Mark
// Represents text which is marked or highlighted for reference or notation purposes



@use "~@nodestrap/sass-class-template/src/index" as *;
@use "~@nodestrap/selector/src/index"            as selector;
@use "~@nodestrap/colors/src/index"              as color;
@use "~@nodestrap/border/src/index"              as border;

@use "base"                                      as base;
@use "general"                                   as gen;



$class              : "mark, .mark"                         !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "mark"                                !default;
$var-prefix-base    : base.$var-prefix                      !default;
$var: make-var($var-prefix, $var-prefix-base);

$font-size          : inherit                               !default;
$font-family        : inherit                               !default;
$font-weight        : inherit                               !default;
$font-style         : inherit                               !default;
$text-decoration    : inherit                               !default;
$line-height        : inherit                               !default;

$color              : inherit                               !default;
$backg              : var(#{color.$var}warning-transp)      !default;

$padding-x          : 0.2em                                 !default;
$padding-y          : 0em                                   !default;
$border             : var(#{border.$var}hair) var(#{border.$var}style) var(#{border.$var}color) !default;
$border-radius      : var(#{border.$radius-var}sm)          !default;



@include declare-vars($var-root) {
    #{$var}font-size                : $font-size;
    #{$var}font-family              : $font-family;
    #{$var}font-weight              : $font-weight;
    #{$var}font-style               : $font-style;
    #{$var}text-decoration          : $text-decoration;
    #{$var}line-height              : $line-height;

    #{$var}color                    : $color;
    #{$var}backg                    : $backg;

    #{$var}padding-x                : $padding-x;
    #{$var}padding-y                : $padding-y;
    #{$var}border                   : $border;
    #{$var}border-radius            : $border-radius;
}



@mixin style-nested-self($class) {
    @include selector.is($class) {
        @include selector.nested-self($parentheses: false) {
            padding     : 0px;
            font-size   : 1em;
            font-weight : var(#{gen.$var}font-weight-bold);
        }
    }
}
@include style-nested-self($class);



@mixin style($var: $var) {
    @include base.style($var: $var);


    display              : inline;

    
    background           : var(#{$var}backg);

    padding              : var(#{$var}padding-y) var(#{$var}padding-x);
    border               : var(#{$var}border);
    border-radius        : var(#{$var}border-radius);
}



@include class($class) { @include style; }