// Paragraph typography
// A group of text



@use "~@nodestrap/sass-class-template/src/index" as *;

@use "base"                                      as base;



$class              : "p, .p"                               !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "p"                                   !default;
$var-prefix-base    : base.$var-prefix                      !default;
$var: make-var($var-prefix, $var-prefix-base);

$font-size              : inherit                           !default;
$font-family            : inherit                           !default;
$font-weight            : inherit                           !default;
$font-style             : inherit                           !default;
$text-decoration        : inherit                           !default;
$line-height            : inherit                           !default;

$color                  : inherit                           !default;

$margin-block-start     : 0px                               !default;
$margin-block-end       : 1em                               !default;
$margin-inline-start    : 0px                               !default;
$margin-inline-end      : 0px                               !default;



@include declare-vars($var-root) {
    #{$var}font-size                : $font-size;
    #{$var}font-family              : $font-family;
    #{$var}font-weight              : $font-weight;
    #{$var}font-style               : $font-style;
    #{$var}text-decoration          : $text-decoration;
    #{$var}line-height              : $line-height;

    #{$var}color                    : $color;
    
    #{$var}margin-block-start       : $margin-block-start;
    #{$var}margin-block-end         : $margin-block-end;
    #{$var}margin-inline-start      : $margin-inline-start;
    #{$var}margin-inline-end        : $margin-inline-end;
}



@mixin style($var: $var) {
    @include base.style($var: $var);


    display              : block;
    

    margin-block-start   : var(#{$var}margin-block-start);
    margin-block-end     : var(#{$var}margin-block-end);
    margin-inline-start  : var(#{$var}margin-inline-start);
    margin-inline-end    : var(#{$var}margin-inline-end);
}



@include class($class) { @include style; }