// Paragraph typography
// A group of text



@use "dependencies" as *;
@use "base"         as base;
@use "general"      as gen;



$alias              : "%typo-paragraph"                     !default;
$class              : "p, .p"                               !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "p"                                   !default;
$var-prefix-base    : base.$var-prefix                      !default;
$cssvar: make-cssvar($var-prefix, $var-prefix-base);

$font-size          : var(#{gen.$cssvar}font-size-default)  !default;
$font-family        : unset                                 !default;
$font-weight        : unset                                 !default;
$font-style         : unset                                 !default;
$text-decoration    : unset                                 !default;
$lineheight         : unset                                 !default;

$color              : unset                                 !default;

$margin-top         : unset                                 !default;
$margin-bottom      : calc(var(#{$cssvar}font-size) * 1.00) !default;
$margin-left        : unset                                 !default;
$margin-right       : unset                                 !default;



@include declare-cssvar($var-root) {
    #{$cssvar}font-size         : #{$font-size};
    #{$cssvar}font-family       : #{$font-family};
    #{$cssvar}font-weight       : #{$font-weight};
    #{$cssvar}font-style        : #{$font-style};
    #{$cssvar}text-decoration   : #{$text-decoration};
    #{$cssvar}lineheight        : #{$lineheight};

    #{$cssvar}color             : #{$color};
    
    #{$cssvar}margin-top        : #{$margin-top};
    #{$cssvar}margin-bottom     : #{$margin-bottom};
    #{$cssvar}margin-left       : #{$margin-left};
    #{$cssvar}margin-right      : #{$margin-right};
}



/* begin: general style */
@mixin _style($include) {
    @if ($include) { @include  base.style; }
    @else          { @extend #{base.$alias} !optional; }


    font-size       : var(#{$cssvar}font-size);
    font-family     : var(#{$cssvar}font-family);
    font-weight     : var(#{$cssvar}font-weight);
    font-style      : var(#{$cssvar}font-style);
    text-decoration : var(#{$cssvar}text-decoration);
    line-height     : var(#{$cssvar}lineheight);

    color           : var(#{$cssvar}color);
    
    &:not(:first-child) { margin-top    : var(#{$cssvar}margin-top); }
    &:not(:last-child)  { margin-bottom : var(#{$cssvar}margin-bottom); }
    margin-left     : var(#{$cssvar}margin-left);
    margin-right    : var(#{$cssvar}margin-right);
}
@mixin style {
    @include _style(true);
}
@include alias($alias) {
    @include _style(false);
}
/* end: general style */



@include class($alias, $class, "");