// Secondary typography
// A secondary / less important text



@use "~@nodestrap/sass-class-template/src/index" as *;

@use "base"                                      as base;



$class              : "small, .text-second"                 !default;
$var-root           : base.$var-root                        !default;
$var-prefix         : "second"                              !default;
$var-prefix-base    : base.$var-prefix                      !default;
$var: make-var($var-prefix, $var-prefix-base);

$font-size          : inherit                               !default;
$font-family        : inherit                               !default;
$font-weight        : inherit                               !default;
$font-style         : inherit                               !default;
$text-decoration    : inherit                               !default;
$line-height        : inherit                               !default;

$color              : inherit                               !default;
$opacity            : 0.63                                  !default;



@include declare-vars($var-root) {
    #{$var}font-size        : $font-size;
    #{$var}font-family      : $font-family;
    #{$var}font-weight      : $font-weight;
    #{$var}font-style       : $font-style;
    #{$var}text-decoration  : $text-decoration;
    #{$var}line-height      : $line-height;

    #{$var}color            : $color;
    #{$var}opacity          : $opacity;
}



@mixin style($var: $var) {
    @include base.style($var: $var);


    // display              : inline;


    opacity         : var(#{$var}opacity);
}



@include class($class) { @include style; }